<div class="content-container">
    <div class="about-container">
        <div class="about">
            <div class="about1">
                <h1>About Us</h1>
                <div>
                    <p>
                    "When I started Sunset Landscapes, I really wanted to grow a company that was one I'd like to do business with.  Founded on 
                    quality workmanship, unparalleled customer service, and a commitment to honesty and fairness.  While we're not perfect, I'm
                    proud to say that even to this day, we never forget the customer is our number one priority, everyday.  We've got a world-class
                    group of team members, and are excited with what we've done, and what we continue to do in our neighborhoods."  
                    <br><br><span style="font-size: 1.5rem;">Dan Vine<br>Founder<br>Sunset Landscapes</span></p>
                </div>
            </div>    
        </div>
    </div>
    <div id="service-section">
        <div id="service-heading">
            <h2>The Sunset Difference</h2>
        </div>
        <div class="services row">
            <div class="col-sm-4 each-service">
                <h3>Zero Down Financing</h3>
                <span><i class="fa fa-money" aria-hidden="true"></i></span>
                <p>We offer multiple financing options, including zero-down, tax-deductible, Ygrene and HERO financing, as well as options
                that include zero interest for 18 months.</p>
            </div>
            <div class="col-sm-4 each-service">
                <h3>100% Satisfaction Guarantee</h3>
                <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                <p>If you aren't completely satisfied we've fulfilled the terms of the Scope of Work, we'll come back until you are.</p>
            </div>
            <div class="col-sm-4 each-service">
                <h3>3 Year Workmanship Warranty</h3>
                <span><i class="fa fa-wrench" aria-hidden="true"></i></span>
                <p>We warranty our pavers, pergolas & arbors, and walls for three years. If something happens, give us a call and we'll fix it.</p>
            </div>
        </div>
    </div>
    <div class="testimonials">
        <div class="testimonials-header">
            <h2>What People Are Saying</h2>
        </div>
        <div class="testimonials-background">
            <div class="testimonials-container">
                <h3><span style="font-size: 3rem;">"</span>Installation  choice of 
                was smooth and professional. Their products are extremely high quality and they never tried to up-sell me on 
                anything. He was very attuned to my budget and desired outcome for the project. Well done all the way around. I HIGHLY recommend 
                Sunset for your next project.<br><br><span style="font-size: 1.5rem;">-Nathan S. in Chula Vista</span></h3>
            </div>
        </div>
    </div>
    <%= link_to(contact_path, id: 'contact') do %>
        <div class="contact-link">
                <h2>Take the Next Step Now:</h2>
        </div>
    <% end %>
</div>    


