<div class="content-container">
    <div class="contact-container">
        <div class="contact">
            <h1>Contact Us</h1>
            <form class="contact-form">
                <div class="form-group">
                    <h3>Contact Info:</h3>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Phone Number</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
                            <small class="form-text text-muted">Neither will we share your phone number.</small>
                        </div>
                    </div>
                </div>
                    <h3>Project Info:</h3>
                    <div class="form-group">
                        <label> Tell us about your project</label>
                        <textarea class="form-control" id="exampleTextarea" rows="5" placeholder="Tell us a bit about your vision"></textarea>
                    </div>
                    <div class="form-bottom row">
                        <fieldset id="completion" class="form-group col-md-6">
                            <label>Ideal Project Completion:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="completion" id="completion1" value="option1">
                                    Last week!
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="completion" id="completion2" value="option2">
                                    Within 1 - 2 months
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="completion" id="completion3" value="option3">
                                    Within 3+ months
                                </label>
                            </div>
                        </fieldset>
                        <fieldset id="projectneed" class="form-group col-md-6">
                            <label>Why are you considering turf?</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="projectneed" id="projectneed1" value="option1">
                                    Tired of maintaing my lawn
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="projectneed" id="projectneed2" value="option2">
                                    Play area for my family
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="projectneed" id="projectneed3" value="option3">
                                    Play area for my pets
                                </label>
                            </div>
                        </fieldset>
                    </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="contact-call">
                <h2>Feel free to also: <br>Visit our Showroom (see below) or <br>Call Now: (555)555-5555</h2>
            </div>
        </div>
    </div>
    <div class="location-section">
        <div class="location-header">
            <h2>Our Location & Hours</h2>
        </div>
        <div class="row location">
            <div class="col-sm-6">
                <iframe
                  width="100%"
                  height="100%"
                  frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCXUwkCjAhEdy46CUOx3-CYYigqeNAD1IM
                    &q=170+Mace+Street,Chula-Vista+CA" allowfullscreen>
                </iframe>
            </div>
            <div class="col-sm-6 location-info">
                <div>
                    <h3>Store Address:</h3>
                    <p>Our showroom is located at:<br> 170 Mace Street<br>Chula Vista, CA 91910</p>
                </div>
                <div>
                    <h3>Directions:</h3>
                    <p><strong>From I-805:</strong> exit Main Street in Chula Vista and head west for 1 mile.  Our showroom
                    will be on the left.</p>
                    <p><strong>From I-5:</strong> exit Main Street in Chula Vista and head east for 2 miles.  Our showroom
                    will be on the right.</p>
                </div>
                <div>
                    <h3>Store Hours</h3>
                    <p>Monday thru Friday 8:00 am - 5:00 pm</p>
                    <p>*We schedule weekend initial consultations by request only.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='calendar'></div>
<div id='remote_container'></div>