// Place all the styles related to the testimonials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-index{
    width: 100%;
    background: #dddddd;
    padding: 1rem;
    min-height: 600px;
    .header{
        display: flex;
        align-items: center;
        div{
            padding-left: 2rem;
        }
    }
    .second-header{
        padding: 4rem 0 2rem 0;
    }
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 1rem 0;
        li{
            padding-right: 1rem;
            cursor: pointer;
        }
    }
    .table-headers{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;
        div{
            display:flex;
            justify-content: center;
            padding: .5rem;
            font-weight: 700;
        }
    }
    .table-rows{
        display: flex;
        border-bottom: 1px solid black;
        div{
            padding: .5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.admin-show{
    width: 100%;
    background: #dddddd;
    padding: 1rem;
    min-height: 600px;
    #notice{
        height: 50px;
        color: black;
    }
    h2{
        border-bottom: 2px solid black;
    }
    .content{
        padding: 2rem 0;
        div{
            padding: 1rem 0;
        }
    }
}

.admin-edit{
    background: #dddddd;
    padding: 1rem;
}


.form-field{
    padding-bottom: 1rem;
    .form-content{
        padding-left: 2rem;
    }
    label{
        font-weight: 700;
    }
}